{% extends 'adminlte/base.html' %}

{% block title %}Arts Fest Management System{% endblock %}


{% block content %}

<div class="card text-white mb-3" >

<div class="card text-center mb-2"><h2><strong>Welcome to Arts Fest Management System!!</strong></h2></div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class=" img-fluid rounded" src="https://png.pngtree.com/background/20210709/original/pngtree-microphone-electrical-device-sound-device-background-picture-image_598673.jpg">
      </div>
    </div>
  </div>

{% endblock %}