{%  extends 'adminlte/base.html' %}
<title>{% block title %}Scoreboard |{% endblock %}</title>
{% block content %}


<div class="container bg-info">
<table class="table">
  <caption>List of House</caption>
  <thead>
    <tr>
      <th scope="col">House</th>
      <th scope="col">Points</th>

    </tr>
  </thead>
  <tbody>
  {%  for score in scores   %}
  <tr>
{% for values in score.values %}


      <td>{{values}}</td>



   {% endfor %}
      </tr>
  {% endfor %}

  </tbody>
</table>

</div>
{% endblock %}